@import url('https://fonts.googleapis.com/css2?family=Laila&family=Lalezar&display=swap');

/* Colour pallet */

:root {
    --light-grey: #DDDEC6;
    --dark-grey: #666666;
    --dark-tan: #453831;
    --red: #BB0000;
    --black: #000000;
}

/* --------- Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Laila', sans-serif;
    font-size: 2.5vh;
}

#game-page {
    background: url(../images/green-felt.jpg) center center,
                green;
    background-size: cover;
}

main {
    height: 82vh;
    position: relative;
}

.grid {
    display: grid;
}

.center-content {
    justify-content: center;
}

.end-content {
    justify-content: end;
}

.start-content {
    justify-content: start;
}

.center-items {
    justify-items: center;
}

.flex {
    display: flex;
}

.relative-pstn {
    position: relative;
}

/* Removes default anchor background */
a {
    background-color: rgba(0, 0, 0, 0);
}

/* ------------Header style */

header {
    height: 10vh;
    background-color: var(--black);
    justify-content: space-between;
}

header img {
    height: 9vh;
    margin-top: 0.5vh;
    margin-left: 2vw;
}

header i {
    color: var(--light-grey);
    font-size: 6vh;
    position: absolute;
    top: 2.2vh;
    right: 2vw;
}

header i:hover {
    color: var(--red);
    cursor: pointer;
}

/* ------------Menu style */

#menu {
    position: fixed;
    top: 5%;
    right: 5%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.87);
    border-radius: 0.3em;
    color: var(--light-grey);
    font-size: 1.5em;
    z-index: 15;
    scale: 0;
    display: none;
    transition: 0.3s ease-in;
    transform-origin: top right;
}

.enlarge-menu {
    scale: 1 !important;
    top: 15% !important;
}

#menu li {
    list-style: none;
    padding: 0.3em 0.6em;
}

#menu li a {
    color: var(--light-grey);
    text-decoration: none;
}

#menu li:hover a, #menu li a:focus {
    text-decoration: underline;
}

.closing-btn-container {
    text-align: right;
    padding: 0.3em;
}

.closing-btn-container i {
    padding: 0.3em;
}

.closing-btn-container i:hover, .closing-btn-container i:focus {
    color: var(--red);
}

#menu-content-container {
    display: none;
}

.menu-logo-container img {
    height: 3.5em;
    padding: 0.5em;
    left: 10%;
}

#menu li:nth-child(1), #menu li:nth-child(3) {
    background-color: rgba(102, 102, 102, 0.5);
    border-radius: 0.3em;
}

/* Menu content style */
#game-rules-content, #advanced-strategy-content {
    background-color: var(--black);
    font-size: 5vh;
    color: var(--light-grey);
}

#game-rules-content h1, #advanced-strategy-content h1 {
    font-family: 'Lalezar', cursive;
    font-size: 15vh !important;
    font-weight: 400;
}

#game-rules-content h2, #advanced-strategy-content h2 {
    font-size: 12vh !important;
}

#advanced-strategy-content ul {
    font-size: 10vh;
} 

#game-rules-content p, #advanced-strategy-content p {
    font-size: 10vh;
    margin: 2vh 0 4vh;
}

#menu-content-wrapper {
    border: 0.1em solid var(--light-grey);
    border-radius: 0.3em;
    padding: 3vw;
    margin: 0 3vw;
}

#menu-content-wrapper img {
    width: fit-content;
    width: 100%;
    border-radius: 0.3em;
}

#menu-content {
    height: 22.7vh;
    width: 100%;
    color: var(--light-grey);

}

#menu-content h1 {
    text-align: center;
}

/* ------------Pop up greeting window style */

#greeting-msg {
    border: 0.2em solid var(--black);
    border-radius: 1em;
    box-shadow: 0 0 1em;
    background-color: var(--dark-grey);
    padding: 0.7em 1.2em;
    width: 86%;
    position: absolute;
    top: 17%;
    left: 7%;
    z-index: 5;
    backdrop-filter: none;
    font-size: 2vh;
}

#greeting-msg img {
    height: 4em;
}

#greeting-msg p {
    color: var(--light-grey);
    font-size: 1.5em;
    padding: 0.8em 0;
    text-align: center;
}

#greeting-msg input {
    border-radius: 0.3em;
    background-color: var(--light-grey);
    color: var(--black);
    line-height: 1.6em;
    font-size: 1.3em;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}

/* Blurry background effect */
#backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(0.2em);
    z-index: 3;
}

/* ------------Info table section style */

#display-info {
    height: 10vh;
    visibility: hidden;
}

table {
    background-color: rgba(221, 222, 198, 0.8);
    border-radius: 1em;
    position: absolute;
    left: 1em;
    top: 1em;
    border: 0.15em solid var(--black);
    text-align: left;
    text-transform: capitalize;
    overflow: hidden;
}

table, th, td {
    border-spacing: 0;
}

th, td {
    padding: 0 0.6em;
    border: 0.1em solid var(--dark-grey);
}



/* ------------Dealer and player cards field style*/

#players-card-container img, #dealers-card-container img {
    height: 15vh;
    box-shadow: 0.15em 0.15em 0.45em;
    border-radius: 0.15em;
    transform: rotateX(15deg);
}

#players-card-container, #dealers-card-container {
    height: 14vh;
    margin-top: 2vh;
}

#players-card-container img:nth-child(1), #players-card-container img:nth-child(2),
#dealers-card-container img:nth-child(1), #dealers-card-container img:nth-child(2) {
    position: absolute;
    transform-origin: bottom left;
}

#players-card-container img:nth-child(1), #dealers-card-container img:nth-child(1) {
    right: 0.5em;
    transform: rotate3d(-2, -1, 1, -15deg);
}

#players-card-container img:nth-child(2), #dealers-card-container img:nth-child(2) {
    right: -1.5em;
    transform: rotate3d(-2, -1, 1, -10deg);
}

/* Message field style */

#message-field {
    margin-top: 2vh;
    height: 7vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(221, 222, 198, 0.4), rgba(102, 102, 102, 0.9) 15%, rgba(102, 102, 102, 0.8) 85%, rgba(221, 222, 198, 0.4));
    visibility: hidden;
    align-content: center;
    flex-wrap: wrap;
    border-bottom: 0.15em solid var(--black);
    border-top: 0.15em solid var(--black);
    box-shadow: 0 0 1.5em;
    position: fixed;
    top: 35vh;
    z-index: 10;
}

#outcome-message {
    color: var(--light-grey);
}

/* #outcome-message {
    
} */

#table-mark {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

#table-mark img {
    position: relative;
    top: 5vh;
    transform: rotateX(50deg);
    height: 55vh;
    opacity: 0.8;
}

/* Counter box styling */

.count-box {
    border: 0.15em solid var(--black);
    border-radius: 0.3em;
    padding: 0.3vh;
    width: 5vh;
    background-color: rgba(221,222,198,0.6);
    text-align: center;
    display: none;
    position: absolute;
    left: -18vh;
    top: 7vh;
    font-weight: 600;
}

#chip-count {
    left: -6.2vh;
    top: 1.5vh;
    width: auto;
    padding: 0.3vh 0.7vh;
}

/* ------------Betting field style */

#bet-position-container {
    width: 3em;
    height: 3.9vh;
    background-color: rgba(221, 222, 198, 0.5);
    box-shadow: 0 0.15em 0.5em rgba(221, 222, 198, 1),
                0 0.25em 0.6em black;
    border-radius: 50%;
    margin: 2.5vh;
}

#bet-position {
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(187, 0, 0, 1), rgba(187, 0, 0, 0) 75%);
    border-radius: 50%;
}

#bet-position img {
    height: 2.7em;
    position: relative;
    top: -0.8em;
    left: 0.15em;
}

/* ------------Betting section style */

#bet-section {
    background: linear-gradient(rgba(102, 102, 102, 0.7), rgba(221, 222, 198, 0.7), rgba(102, 102, 102, 0.7));
    width: 100%;
    border-top: 0.15em solid var(--black);
    border-bottom: 0.15em solid var(--black);
    box-shadow: 0 0 1.5em;
    height: fit-content;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
}

#bet-section i {
    color: yellow;
    padding-top: 3.2vh;
    font-size: 5vh;
    margin: 0 1.7vh;
}

#bet-container {
    flex-direction: row;
    position: relative;
    width:  30.5vh;
    padding-top: 0.5em;
    height: 11vh;
    overflow: hidden;
}

.bet-chips {
    border-radius: 50%;
    border: none;
    background: linear-gradient(rgba(102, 102, 102, 0.7), rgba(221, 222, 198, 0.7), rgba(102, 102, 102, 0.7));
    height: 9vh;
    margin: 0 0.6vh;
}

.bet-chips:hover img, .bet-chips:focus img {
    translate: 0 -0.4em;
    scale: 1.1;
    transform-origin: left;
    border-radius: 50%;
    border: 0.2em solid yellow;
    transform-origin: top;
}

.bet-chips img {
    height: 8.2vh;
    margin: 0.1em 0.2em;
}

/* ----------- Button style */

#game-controls {
    bottom: 0;
}

.control-btn {
    width: 5.9em;
    height: 6vh;
    background-color:var(--red);
    color: var(--light-grey);
    font-family: 'Lalezar', cursive;
    font-size: 1.2em;
    margin: 1.6vh;
    border-radius: 0.3em;
    border: 0.15em solid var(--black);
    box-shadow: 0.1em 0.1em 0.3em var(--black);
}

.control-btn:hover, .control-btn:focus{
    scale: 1.05;
    box-shadow: 0.1em 0.1em 0.5em var(--black);
    outline: none;
}

/* hides play buttons on loading the game */
.play-btn {
    display: none;
}

/* ----------- Footer style */

footer {
    background-color: var(--black);
    color: var(--light-grey);
    padding-left: 0.5em;
}

footer i {
    font-size: 6.3vh;
    margin: 1vh;
    color: var(--light-grey);
}

footer i:hover, footer i:focus, footer i:active  {
    color: var(--red);
}

footer span {
    font-size: 1.5vh;
    position: absolute;
    bottom: 0;
    right: 1em;
    max-width: 55%;
}

/* ---------------- Media querries */

/* Media query for screens > 350px */
@media screen and (min-width: 420px) {
    #bet-container {
        overflow: visible;
    }

    #arrow-left, #arrow-right {
        visibility: none;
    }
}

/* Media query for screens > 650px */
@media screen and (min-width: 650px) {
    footer span {
        font-size: 2.5vh;
    }

    #greeting-msg {
        width: 60%;
        left: 20%;
    }

    #greeting-msg input {
        min-width: 60%;
        width: fit-content;
    }

    #table-mark img {
        height: 75vh;
        top: -5vh;
    }

    footer span {
        font-size: 1.8vh;
    }
}

/* Media query for screens > 950px */
@media screen and (min-width: 950px) {
    #dealers-field, #players-field {
        position: relative;
    }

    #dealers-field {
        left: -20vw;
    }

    #players-field {
        left: 20vw;
    }

    #greeting-msg {
        width: 46vw;
        left: 27%;
    }

    footer span {
        font-size: 2.5vh;
        max-width: 65%
    }
}