@import url('https://fonts.googleapis.com/css2?family=Laila&family=Lalezar&display=swap');

/* Colour pallet */

:root {
    --light-grey: #DDDEC6;
    --dark-grey: #666666;
    --dark-tan: #453831;
    --red: #BB0000;
    --black: #000000;
}

/* --------- Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Laila', sans-serif;
}

main {
    height: 83vh;
    position: relative;
}

.grid {
    display: grid;
}

.center-content {
    justify-content: center;
}

.center-items {
    justify-items: center;
}

.flex {
    display: flex;
}

.relative-pstn {
    position: relative;
}

/* Removes default anchor background */
a {
    background-color: rgba(0, 0, 0, 0);
}

/* ------------Header style */

header {
    height: 10vh;
    background-color: var(--black);
    justify-content: space-between;
}

header img {
    height: 9vh;
    margin-top: 0.5vh;
    margin-left: 2vw;
}

header i {
    color: var(--light-grey);
    font-size: 6vh;
    position: relative;
    top: 2.2vh;
    right: 2vw;
}

/* ------------Menu style */

#menu {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.87);
    border-radius: 0.3em;
    color: var(--light-grey);
    font-size: 1.5em;
    z-index: 5;
}

#menu li {
    list-style: none;
    padding: 0.3em 0.6em;
}

#menu li a {
    color: var(--light-grey);
    text-decoration: none;
}

#menu li:hover a, #menu li a:focus {
    text-decoration: underline;
}

.closing-btn-container {
    text-align: right;
    padding: 0.3em 0.6em;
}

.closing-btn-container i:hover, .closing-btn-container i:focus {
    color: var(--red);
}

.menu-logo-container img {
    height: 3.5em;
    padding: 0.5em;
    left: 10%;
}

#menu li:nth-child(1), #menu li:nth-child(3) {
    background-color: rgba(102, 102, 102, 0.5);
    border-radius: 0.3em;
}

/* ------------Info table section style */

#display-info {
    height: 10vh;
}

/* ------------Dealer and player cards field style*/

#players-card-container img, #dealers-card-container img {
    height: 7em;
    box-shadow: 0.15em 0.15em 0.45em;
    border-radius: 0.15em;
    transform: rotateX(15deg);
}

#players-card-container, #dealers-card-container {
    height: 18vh;
}

#players-card-container img:nth-child(1), #players-card-container img:nth-child(2),
#dealers-card-container img:nth-child(1), #dealers-card-container img:nth-child(2) {
    position: absolute;
    transform-origin: bottom left;
}

#players-card-container img:nth-child(1), #dealers-card-container img:nth-child(1) {
    right: 0.5em;
    transform: rotate3d(-2, -1, 1, -15deg);
}

#players-card-container img:nth-child(2), #dealers-card-container img:nth-child(2) {
    right: -1.5em;
    transform: rotate3d(-2, -1, 1, -10deg);
}

/* Message field style */

#message-field {
    height: 8vh;
}

/* Counter box styling */

.count-box {
    border: 0.15em solid var(--black);
    border-radius: 0.3em;
    padding: 0.3em;
    width: 3em;
    background-color: rgba(221,222,198,0.6);
    text-align: center;
    display: none;
    position: absolute;
    left: -9.5em;
    top: 2.5em;
}

#chip-count {
    left: -5em;
    top: 0.4em;
}

/* ------------Betting field style */

#bet-position-container {
    width: 3em;
    height: 1.7em;
    background-color: rgba(221, 222, 198, 0.5);
    box-shadow: 0 0.15em 0.5em rgba(221, 222, 198, 1),
                0 0.25em 0.6em black;
    border-radius: 50%;
    margin: 1em;
}

#bet-position {
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(187, 0, 0, 1), rgba(187, 0, 0, 0) 75%);
    border-radius: 50%;
}

#bet-position img {
    height: 2.7em;
    position: relative;
    top: -0.8em;
    left: 0.15em;
}

/* ------------Betting section style */

#bet-section {
    width: 100%;
    border-top: 0.15em solid var(--black);
    border-bottom: 0.15em solid var(--black);
    box-shadow: 0 0 15px;
    height: fit-content;
}

#bet-container {
    background-color: rgba(221, 222, 198, 0.7);
    padding-top: 0.5em;
    height: 4.3em;
}

.bet-chips button {
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: rgba(221, 222, 198, 0.7);
}

.bet-chips button:hover img, .bet-chips button:focus img {
    translate: 0 -0.4em;
    scale: 1.2;
    transform-origin: left;
    border-radius: 50%;
    border: 0.2em solid yellow;
    transform-origin: top;
}

.bet-chips img {
    height: 3.8em;
    margin: 0.1em 0.2em;
}

/* ----------- Button style */

#game-controls {
    bottom: 0;
}

.control-btn {
    width: 6em;
    height: 2em;
    background-color:var(--red);
    color: var(--light-grey);
    font-family: 'Lalezar', cursive;
    font-size: 1.2em;
    margin: 0.5em;
    border-radius: 0.3em;
    border: 0.15em solid var(--black);
    box-shadow: 0.1em 0.1em 0.3em var(--black);
}

.control-btn:hover, .control-btn:focus{
    scale: 1.05;
    box-shadow: 0.1em 0.1em 0.5em var(--black);
    outline: none;
}

/* hides play buttons on loading the game */
.play-btn {
    display: none;
}

/* ----------- Footer style */

footer {
    height: 8vh;
    background-color: var(--black);
    color: var(--light-grey);
    position: relative;
}

footer i {
    font-size: 6.3vh;
    margin: 1vh;
}

footer span {
    font-size: 0.7em;
    position: absolute;
    bottom: 0;
    right: 1em;
    max-width: 55%;
}